.main {
  padding: 70px 8px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .main {
    padding: 70px 24px;
  }
}
@media (min-width: 768px) {
  .main {
    padding: 90px 56px;
  }
}
@media (min-width: 992px) {
  .main {
    padding: 110px 0px;
  }
}
