.main {
  padding: 60px 8px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 576px) {
  .main {
    padding: 60px 24px;
  }
}
@media (min-width: 768px) {
  .main {
    padding: 60px 56px;
  }
}
@media (min-width: 992px) {
  .main {
    padding: 120px 56px;
  }
}
